{% extends 'base.html'%}

{% load static %}

{% block content%}
<div class="about-container ">
    <div class="about-wrapper">
        <section class="about-ziva">
            <h1>אודות זיווה פסח</h1>
            <ul>
                <li>מי אני?</li>
                <li>איך הגעתי לתחום ומה היעד המכוון שלי?</li>
                <li>איך אני יכולה לעזור?</li>
                <li>דרכיי יצירת קשר?</li>
            </ul>
        </section>
        <section class="form-contact">

            <div class="contact-me-form"></div>
        </section>
    </div>

</div>
{% endblock %}
