{% extends 'base.html'%}
{% load static%}

{% block content %}
<section class="s1">
    <div id="homepage-bg" style="background-image: url('{% static 'images/max-van-den-oetelaar-buymYm3RQ3U-unsplash.jpg' %}')"; >
    </div>
</section>

<section class="s2">
    <div class="main-container">
        <div class="intro-wrapper">
            <div class="title">
                <h1 style="color: black; ">מה זה NLP?</h1>

            </div>
            <div class="img p-2 align-self-center">
                <img src="{% static 'images/jesse-orrico-rmWtVQN5RzU-unsplash.jpg' %}"  width="100%" height="auto" alt="unsplash">
            </div>
            <div class="text float-right p-3">
                <p>לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית. סת אלמנקום ניסי נון ניבאה. דס איאקוליס וולופטה דיאם. וסטיבולום אט דולור, קראס אגת לקטוס וואל אאוגו וסטיבולום סוליסי טידום בעליק. קונדימנטום קורוס בליקרה, נונסטי קלובר בריקנה סטום, לפריקך תצטריק לרטי.

קולורס מונפרד אדנדום סילקוף, מרגשי ומרגשח. עמחליף ושבעגט ליבם סולגק. בראיט ולחת צורק מונחף, בגורמי מגמש. תרבנך וסתעד לכנו סתשם השמה - לתכי מורגם בורק? לתיג ישבעס.

קולהע צופעט למרקוח איבן איף, ברומץ כלרשט מיחוצים. קלאצי סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור ליאמום בלינך רוגצה. לפמעט

לורם איפסום דולור סיט אמט, נולום ארווס סאפיאן - פוסיליס קוויס, אקווזמן קוואזי במר מודוף. אודיפו בלאסטיק מונופץ קליר, בנפת נפקט למסון בלרק - וענוף לפרומי בלוף קינץ תתיח לרעח. לת צשחמי להאמית קרהשק סכעיט דז מא, מנכם למטכין נשואי מנורךגולר מונפרר סוברט לורם שבצק יהול, לכנוץ בעריר גק ליץ, ושבעגט. קונסקטורר אדיפיסינג אלית. סת אלמנקום ניסי נון ניבאה. דס איאקוליס וולופטה דיאם.<br> וסטיבולום אט דולור, קראס אגת לקטוס וואל אאוגו וסטיבולום סוליסי טידום בעליק. קונדימנטום קורוס בליקרה, נונסטי קלובר בריקנה סטום, לפריקך תצטריק לרטי.

לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית. סת אלמנקום ניסי נון ניבאה. דס איאקוליס וולופטה דיאם. וסטיבולום אט דולור, קראס אגת לקטוס וואל אאוגו וסטיבולום סוליסי טידום בעליק. הועניב היושבב שערש שמחויט - שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף. זותה מנק הבקיץ אפאח דלאמת יבש, כאנה ניצאחו נמרגי שהכים תוק, הדש שנרא התידם הכייר וק.</p>
            </div>
        </div>
    </div>
</section>
<section class="s3">
    <div>
        <h2 class="text-center" style="color:black;">רוצה קובץ עם משפטי עידוד יומיומיים להדפסה?</h2>
        <div id="form-wrapper">
            <form action="{% url 'thanks' %}" method="post" style="padding-right: 30%;">
                {% csrf_token %}
                {{ reachoutform }}
                <input type="submit" value="אני רוצה">
            </form>
        </div>
    </div>
</section>


{% endblock %}

